---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

const { name, description } = Astro.props;
import { Image } from "astro:assets";
import image from "../img/image.jpg";
---

<div class="main-container">
  <div class="img-container">
    <div class="img-container-left">
      <Image src={image} alt="Pic" />
    </div>
    <div class="img-container-right">
      <Image src={image} alt="Pic" />
      <Image src={image} alt="Pic" />
    </div>
  </div>
  <div class="bottom-container">
    <div class="bottom-left">
      <h3 class="heading">{name}</h3>
      <p class="description">{description}</p>
    </div>
    <div class="bottom-right">
      <a href="">Objevit</a>
    </div>
  </div>
</div>
<style>
  .main-container {
    width: 100vw;
    padding: 64px 5vw 32px;
    display: flex;
    flex-direction: column;
  }
  .img-container-right {
    display: none;
  }
  img {
    width: 100%;
    padding-bottom: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .bottom-container {
    display: flex;
    flex-direction: row;
    & > div {
      flex: auto;
    }
  }
  .heading {
    font-weight: bold;
    font-size: 22px;
  }
  .description {
    font-size: 15px;
    color: #727171;
  }
  .bottom-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    & > a {
      font-size: 15px;
      color: black;
    }
  }
  @media screen and (min-width: 992px) {
    .img-container {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
    .img-container-left {
      display: flex;
      flex: 3;
      & > * {
        flex: auto;
      }
    }
    .img-container-right {
      display: flex;
      flex-direction: column;
      flex: 2;
      & > * {
        flex: auto;
      }
    }
  }
</style>
