---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

const { name, description, mainPhotos } = Astro.props;
import { Image } from "astro:assets";
import image from "../img/image.jpg";
---

<div class="main-container">
  <div class="parts-container">
    <div class="img-container">
      <div class="img-container-left">
        <Image
          src={mainPhotos[0].fields.file.url}
          alt="Pic"
          width={640}
          height={360}
        />
      </div>
      <div class="img-container-right">
        <div class="right-wrap">
          <Image
            src={mainPhotos[1].fields.file.url}
            alt="Pic"
            width={640}
            height={360}
          />
        </div>
        <div class="right-wrap">
          <Image
            src={mainPhotos[2].fields.file.url}
            alt="Pic"
            width={640}
            height={360}
          />
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="bottom-left">
        <h3 class="heading">{name}</h3>
        <p class="description">{description}</p>
      </div>
      <div class="bottom-right">
        <a href="">Objevit</a>
      </div>
    </div>
  </div>
</div>
<style>
  .main-container {
    width: 100vw;
    padding: 64px 5vw 32px;
  }
  .img-container {
    padding-bottom: 8px;
  }
  .parts-container {
    display: flex;
    flex-direction: column;
    max-width: 1124px;
    margin: 0 auto;
  }
  .img-container-right {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .bottom-container {
    display: flex;
    flex-direction: row;
    & > div {
      flex: auto;
    }
  }
  .heading {
    font-weight: bold;
    font-size: 22px;
  }
  .description {
    font-size: 15px;
    color: #727171;
  }
  .bottom-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    & > a {
      font-size: 15px;
      color: black;
    }
  }
  @media screen and (min-width: 992px) {
    .img-container {
      display: flex;
      flex-direction: row;
      gap: 8px;
      max-height: 60vh;
    }
    .img-container-left {
      display: flex;
      flex: 3;
      & > * {
        flex: auto;
      }
    }
    .img-container-right {
      /* display: flex;
      flex-direction: column;
      flex: 2;
      & > div {
        flex: 1;
      } */
      display: grid;
      flex: 2;
      overflow: hidden;
      grid-template-rows: repeat(2, minmax(0, 1fr));
      grid-row-gap: 8px;
    }
  }
</style>
